*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: #00000030;
}

.quiz-container{
    width: 450px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px #00000030;
}

.quiz-header{
    padding: 20px 40px;
}

h1{
    font-size: 18px;
    margin: 20px 0;
    text-transform: capitalize;
}

h2{
    text-align: center;
    padding: 10px;
}

ul li{
    list-style-type: none;
    margin: 10px 0;
}


ul li label,
input{
    cursor: pointer;
}

button{
    width: 100%;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
    background-color: #5910c7;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0 0 5px 5px;
    text-transform: uppercase;
}

#submit:hover{
    background-color: #410996;
}